body {
    overflow: hidden;
}

li {
    font-family: "Lucida Grande";
    font-size: 11px;
    line-height: 1.9;
}

div.title {
    font-family: "Lucida Grande";
    font-size: 11px;
    line-height: 1.9;
}

a:link,a:visited {
    text-decoration: none;
    color: #333;
}

a:active,a:hover {
    text-decoration: none;
    color: #666;
}

div#image-editor {
    position: absolute;
    display: none;
    top: 31px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: center center;
}

div#image-editor.active {
    display: block;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    bottom: 0px;
    padding: 0px;
    background-color: #EEE;
    overflow: hidden;
    margin-left: -240px;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}

.menu-open #menu {
    margin-left: 0px;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}

#menu li {
    margin-left: -30px;
    list-style:none;
    width:1000px;
}

#menu li:before {
    content:'';
    display:inline-block;
    height:10px;
    width:8px;
    margin-right: 5px;
}

#menu li.folder:before,li.folder-open:before {
    content:'';
    display:inline-block;
    height:10px;
    width:8px;
    margin-right: 5px;
    background-image:url('/static/img/arrows/arrow.png');
    background-size: 100% auto;
}

#menu li.folder:hover:before {
    background-image:url('/static/img/arrows/arrow_active.png');
    transform: rotate(0deg);
    transition: all 0.5s;
}

#menu li.folder-open:before {
    transform: rotate(90deg);
    transition: all 0.5s;
}

#menu li.folder ul.open {
    max-height: 2000px;
    visibility: visible;
    transition: all 0.5s;
}

#menu li.folder ul {
    max-height: 0px;
    visibility: hidden;
    transition: all 0.5s;
    overflow: hidden;
}


#menu .title {
    color: #666;
    margin-left:8px;
    margin-bottom: -10px;
}

.menu-open #content-pane {
    left: 240px;
    transition: left 0.5s;
}

#content-pane {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 0.5s;
    bottom: 0px;
    right: 0px;
    background-color: #333;
}

#navigation {
    width: 100%;
    height: 40px;
    background-color: #000;
}

#back-forward {
    margin-top: 12px;
    float: left;
}

#back, #forward {
    float: left;
    height:10px;
    width:8px;
    background-size: auto 100%;
    margin-left: 10px;
    z-index: 900;
    background-repeat: no-repeat;
    background-position: top left;
}

#forward {
    background-image:url('/static/img/arrows/arrow.png');
}

#forward:hover {
    background-image:url('/static/img/arrows/arrow_active.png');
}

#back {
    background-image:url('/static/img/arrows/arrow_flipped.png');
}

#back:hover {
    background-image:url('/static/img/arrows/arrow_flipped_active.png');
}

#tabs-dropdown {
    float: right;
}

#navigation ul {
    margin: 0px;
}

#tabs {
    padding: 5px 0px 0px 20px;
    overflow: hidden;
    width: 3000px;
}

ul#tabs li {
    list-style:none;
    float:left;
    background-image: url('/static/img/tabs/tab_inactive.png');
    background-size: 100% 100%;
    overflow:hidden;
    color:#888;
    height:23px;
    margin: 0px 10px 0px 10px;
    padding: 3px 32px 0px 8px;
}

ul#tabs li.active {
    background-image: url('/static/img/tabs/tab_active.png');
    color:#EEE;
}

ul#tabs li:before {
    content: '';
    position:absolute;
    background-image: url('/static/img/tabs/tab_inactive_before.png');
    display:block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center left;
    top:5px;
    margin-left: -25px;
    height:26px;
    width:25px;
}
ul#tabs li.active:before {
    background-image: url('/static/img/tabs/tab_active_before.png');
    z-index: 500;
}

ul#tabs li:after {
    content: 'x';
    position:absolute;
    background-image: url('/static/img/tabs/tab_inactive_after.png');
    display:inline-block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 2px;
    margin-left: 20px;
    margin-right: 5px;
    top:5px;
    height:24px;
    width:30px;
    z-index: 250;
    font-size: 10px;
}
ul#tabs li.active:after {
    background-image: url('/static/img/tabs/tab_active_after.png');
    z-index: 500;
}

#navigation #tabs li.folder-open:before {
    transform: rotate(90deg);
    transition: all 0.5s;
}

#navigation #tabs li.folder-open ul {
    display: block;
}

#navigation #tabs li.folder ul {
    display: none;
}

#editor {
    position: absolute;
    top: 31px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: "Consolas";
}

#menu-edge {
    position: absolute;
    z-index: 1000;
    top: 0px;
    bottom: 0px;
    left: 115px;
    width: 5px;
    margin-right:-2px;
    cursor:col-resize;
}
